.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px 26px;

    .card {
        padding: 20px;

        &-1 {
            background-color: red;
        }

        &-2 {
            background-color: red;
        }

        &-3 {
            background-color: red;
        }
    }
}